@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    width: 100%;
}

.bg-image{
    background-image: url("./assets/images/knights-canyon-challenge-dragon-digital-painting.svg");
    background-color: #150E39;    
    margin: 0 auto;
    height: 100%;
}

.main-intro{
    min-height: calc(100vh - 160px);
}